name: fushigidane-server
on: push

jobs:
   test:
      name: Test
      runs-on: ubuntu-latest

      steps:
      - name: Set up Go 1.15.1
        uses: actions/setup-go@v1
        with:
           go-version: 1.15.1

      - name: Echo go version
        run: go version

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test code
        run: go test -v .
